
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #5b3fb5!important;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  
  <div class="collapse navbar-collapse "  id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link "  style="color: #eeff03;" href="#">Home </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " style="color: #eeff03;" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #eeff03;" >Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #eeff03;" >About</a>
      </li>
    </ul>
    <form class="form-inline">
        <button type="button" title="Nueva Categoría"  class="btn btn-primary mr-1" data-toggle="modal" data-target="#ModalNuevaPagina">
            <i class="fa fa-plus" ></i>
          </button>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
      <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#exampleModalLong">
          <i class="fa fa-cogs"></i>
        </button>
    </form>
  </div>
</nav>
  
  
<div class="card-columns">
  <div class="card mt-1 col col-12" >
     
    <div class="row d-flex align-items-center justify-content-between p-1">
      
      <p class="col col-8 card-titulo">Herramientas</p>
      <div>
      <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#exampleModalLong">
        <i class="fa fa-plus" ></i>
      </button>
    </div>  
      
    </div>

    <div class="cardbody m-0 p-0 pb-2 " >
      <div class="m-0 p-0 d-flex col col-12 ">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.housetrip.es/buscar-alojamientos/ribadesella/134082-374138/" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.housetrip.es/buscar-alojamientos/ribadesella/134082-374138/"  target="_blank">Vega Asturias</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="m-0 p-0 d-flex col col-12 ">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.housetrip.es/buscar-alquileres/llanes/129135/adate1.6834/adate2.6847/hom_sleeps_max.4" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.housetrip.es/buscar-alquileres/llanes/129135/adate1.6834/adate2.6847/hom_sleeps_max.4"  target="_blank">HouseTrip</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="m-0 p-0 d-flex col col-12 ">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.housetrip.es/buscar-alquileres/principado-de-asturias/62073/adate1.6834/adate2.6847/bathrooms.2/bedrooms.2/hom_home_type.house/hom_sleeps_max.4/orderby.default" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.housetrip.es/buscar-alquileres/principado-de-asturias/62073/adate1.6834/adate2.6847/bathrooms.2/bedrooms.2/hom_home_type.house/hom_sleeps_max.4/orderby.default"  target="_blank">Asturias</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="m-0 p-0 d-flex col col-12 ">
        <div style="max-width: 64px;max-height: 64px;">
          <img src=" http://www.google.com/s2/favicons?domain=http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general" alt="logo" height="auto" width="auto">
        </div>
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general"  target="_blank">Casa Rural La Lloseta</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="m-0 p-0 d-flex col col-12 ">
        <img src=" http://www.google.com/s2/favicons?domain=http://www.kope.es/pop70.html" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="http://www.kope.es/pop70.html"  target="_blank">Radio Kope</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="m-0 p-0 d-flex col col-12 ">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.biodigital.com/" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.biodigital.com/"  target="_blank">Biodigital</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
          <img src=" http://www.google.com/s2/favicons?domain=https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2" alt="logo" height="18px">
          <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2"  target="_blank">Aldea de Ribadesella</a>
          <div class="d-flex justify-content-end col col-3 " style="float: right;">
            <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
            <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
          </div>
        </div>
        <div class="d-flex col col-12 mr-14 p-0">
          <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
          <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
          <div class="d-flex justify-content-end col col-3 " style="float: right;">
            <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
            <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
          </div>
        </div>
        <div class="d-flex col col-12 mr-14 p-0">
          <img src=" http://www.google.com/s2/favicons?domain=https://hackerthemes.com/bootstrap-cheatsheet/" alt="logo" height="18px">
          <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://hackerthemes.com/bootstrap-cheatsheet/"  target="_blank">Hackerthemes</a>
          <div class="d-flex justify-content-end col col-3 " style="float: right;">
            <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
            <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
          </div>
        </div> 
  
  
    </div>
  </div>

  <div class="card mt-1 col col-12" >
      
    <div class="row d-flex align-items-center justify-content-between p-1">
      
      <p class="col col-8 card-titulo">Herramientas</p>
      <a class="col col-1" href="#"><i class="fa fa-plus" ></i></a>
      <div class="col col-2 btn-group  ">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            
          </button>
          <div class="dropdown-menu dropdown-menu-right text-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
          
      </div>
        
      
    </div>

    <div class="cardbody m-0 p-0">
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2"  target="_blank">Aldea de Ribadesella</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://hackerthemes.com/bootstrap-cheatsheet/" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://hackerthemes.com/bootstrap-cheatsheet/"  target="_blank">Hackerthemes</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general"  target="_blank">Casa Rural La Lloseta</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>

  
  
  
    </div>
  </div>

  <div class="card mt-1 col col-12" >
      
    <div class="row d-flex align-items-center justify-content-between p-1">
      
      <p class="col col-8 card-titulo">Herramientas</p>
      <a class="col col-1" href="#"><i class="fa fa-plus" ></i></a>
      <div class="col col-2 btn-group  ">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            
          </button>
          <div class="dropdown-menu dropdown-menu-right text-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
          
      </div>
        
      
    </div>

    <div class="cardbody m-0 p-0">
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2"  target="_blank">Aldea de Ribadesella</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://hackerthemes.com/bootstrap-cheatsheet/" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://hackerthemes.com/bootstrap-cheatsheet/"  target="_blank">Hackerthemes</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general"  target="_blank">Casa Rural La Lloseta</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=http://www.kope.es/pop70.html" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="http://www.kope.es/pop70.html"  target="_blank">Radio Kope</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>

  
  
  
    </div>
  </div>
  <div class="card mt-1 col col-12" >
      
    <div class="row d-flex align-items-center justify-content-between p-1">
      
      <p class="col col-8 card-titulo">Herramientas</p>
      <a class="col col-1" href="#"><i class="fa fa-plus" ></i></a>
      <div class="col col-2 btn-group  ">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            
          </button>
          <div class="dropdown-menu dropdown-menu-right text-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
          
      </div>
        
      
    </div>

    <div class="cardbody m-0 p-0">
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2"  target="_blank">Aldea de Ribadesella</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://hackerthemes.com/bootstrap-cheatsheet/" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://hackerthemes.com/bootstrap-cheatsheet/"  target="_blank">Hackerthemes</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general"  target="_blank">Casa Rural La Lloseta</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>

  
  
  
    </div>
  </div>
    <div class="card mt-1 col col-12" >
      
    <div class="row d-flex align-items-center justify-content-between p-1">
      
      <p class="col col-8 card-titulo">Herramientas</p>
      <a class="col col-1" href="#"><i class="fa fa-plus" ></i></a>
      <div class="col col-2 btn-group  ">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            
          </button>
          <div class="dropdown-menu dropdown-menu-right text-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
          
      </div>
        
      
    </div>

    <div class="cardbody m-0 p-0">
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2"  target="_blank">Aldea de Ribadesella</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://hackerthemes.com/bootstrap-cheatsheet/" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://hackerthemes.com/bootstrap-cheatsheet/"  target="_blank">Hackerthemes</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general"  target="_blank">Casa Rural La Lloseta</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>

  
  
  
    </div>
  </div>
    <div class="card mt-1 col col-12" >
      
    <div class="row d-flex align-items-center justify-content-between p-1">
      
      <p class="col col-8 card-titulo">Herramientas</p>
      <a class="col col-1" href="#"><i class="fa fa-plus" ></i></a>
      <div class="col col-2 btn-group  ">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            
          </button>
          <div class="dropdown-menu dropdown-menu-right text-right">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
          
      </div>
        
      
    </div>

    <div class="cardbody m-0 p-0">
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://www.escapadarural.com/casa-rural/asturias/aldea-de-ribadesella#resumen&p=58f5f89b717b2"  target="_blank">Aldea de Ribadesella</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://getbootstrap.com" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://getbootstrap.com"  target="_blank">Bootstrap</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=https://hackerthemes.com/bootstrap-cheatsheet/" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="https://hackerthemes.com/bootstrap-cheatsheet/"  target="_blank">Hackerthemes</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>
      <div class="d-flex col col-12 mr-14 p-0">
        <img src=" http://www.google.com/s2/favicons?domain=http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general" alt="logo" height="18px">
        <a class="col col-9" style="height: 20px;overflow: hidden;" href="http://www.toprural.com/Casa-rural-alquiler-%C3%ADntegro/Casa-Rural-La-Lloseta_27452_f.html#general"  target="_blank">Casa Rural La Lloseta</a>
        <div class="d-flex justify-content-end col col-3 " style="float: right;">
          <a class="" href="#"><i class="fa fa-remove m-1" ></i></a>
          <a class="" href="#"><i class="fa fa-edit m-1" ></i></a>
        </div>
      </div>

  
  
  
    </div>
  </div>




</div>




<!-- Modal Favorito Web-->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Favorito Web</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="">
        <div class="modal-body">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="titulo" class="form-control" id="titulo" name="titulo"  aria-describedby="emailHelp" placeholder="Inserta un Título">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">URL</label>
                <input type="url" class="form-control" id="url" name="url"  aria-describedby="emailHelp" placeholder="Inserta la dirección web">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Nueva Página -->
<div class="modal fade" id="ModalNuevaPagina" tabindex="-1" role="dialog" aria-labelledby="ModalNuevaPaginaTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalNuevaPaginaTitle">Nueva Página</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="">
          <div class="modal-body">
              <div class="form-group">
                  <label for="tituloPagina">Título Página</label>
                  <input type="tituloPagina" class="form-control" id="tituloPagina" name="tituloPagina"  aria-describedby="tituloPagina" placeholder="Inserta un Título">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
